name: Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup OCaml
      run: sudo apt-get -y install ocaml ocaml-dune libalsa-ocaml-dev libgraphics-ocaml-dev libx11-dev
    - name: Install OSC
      run: |
        sudo apt-get -y install libounit-ocaml-dev libocplib-endian-ocaml-dev liblwt-ocaml-dev
        cd /tmp
        git clone https://github.com/johnelse/ocaml-osc.git
        cd ocaml-osc
        sed -i "s/2.9/3.14/" dune-project
        sed -i "s/Result.result/Result.t/" src/lwt/osc_lwt.mli
        dune build @install
        sudo dune install --prefix /usr
    - name: Build
      run: make
    - name: Build doc
      run: |
        sudo apt-get -y install ocaml-odoc pandoc
        cd doc
        make
    - name: Upload website artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: doc

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy website
        id: deployment
        uses: actions/deploy-pages@v4
